<?xml version="1.0" ?>
<model>
    <name>Labyrinth One</name>
    <version>1.0</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Can Altineller</name>
        <email>altineller@gmail.com</email>
    </author>
    <description>
        Gazebo World With A Simple Labyrinth
    </description>
</model>
